<html>
<head>
    <title>Barcodes</title>
</head>
<body>
    <h1>Barcodes</h1>
    <form action="/pdf" method="POST" target="_new">
        <p>
    <textarea name="products" rows="20" cols="80">
ean,count,description
8594199700121,20,"3DXTECH
3DXSTAT
ESD PLA
1.75 mm 1 kg"
8594199700138,10,"3DXTECH
3DXSTAT
ESD PLA
2.85 mm 1 kg"
8594199700541,10,"3DXTECH
CARBONX
Carbon Fiber Nylon
1.75 mm 0.5 kg"
8594199700220,10,"3DXTECH
FLUORX
PVDF KYNAR
1.75 mm 0.5 kg"
</textarea>
            </p>
        <input type="submit" value="Generate!">
</form>
</body>
</html>
